<a href="https://colab.research.google.com/github/FCAI-CU-AI-Community/Libraries/blob/main/Session_3_Pandas_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## what is pandas ?
Pandas is a popular data manipulation and analysis library in Python. It's designed to make working with structured data (like tables) easier. <br>
Pandas is widely used for tasks such as cleaning, organizing, and analyzing data, and it’s especially useful in data science and machine learning projects.<br>

## Data Structures:<br>

- Series:
  * A one-dimensional labeled array, similar to a list or a column in a spreadsheet.
  * Each element in a Series has a label, called an index. It’s very similar to a column in an Excel spreadsheet or a Python list but with an index attached to each value.
- DataFrame:
  * A two-dimensional labeled data structure, like a table in a database or an Excel spreadsheet. It's the most commonly used data structure in pandas.

### Series

In [1]:
import pandas as pd
import numpy as np

In [14]:
s = pd.Series([10, 20, 30, 40])
display(s)

# 0, 1, 2, 3 are the indexes (default).
# 10, 20, 30, 40 are the values.

0    10
1    20
2    30
3    40
dtype: int64

In [15]:
print(s.index, s.values)

RangeIndex(start=0, stop=4, step=1) [10 20 30 40]

common operations on a Series:
- Basic Arithmetic Operations
- Element Accessing
- Mathematical Functions
- Applying Functions
- and more...............

In [16]:
print(s + 5)  # Adds 5 to each element in the Series
print(s - 5)  # Subtracts 5 from each element in the Series
print(s * 5)  # Multiplies each element by 5
print(s / 5)  # Divides each element by 5

0    15
1    25
2    35
3    45
dtype: int64
0     5
1    15
2    25
3    35
dtype: int64
0     50
1    100
2    150
3    200
dtype: int64
0    2.0
1    4.0
2    6.0
3    8.0
dtype: float64

In [17]:
display(s[0])
display(s[1])
display(s[[3, 0]])
display(s[[0, 2, 3]])
# display(s[4]) ERROR

10

20

3    40
0    10
dtype: int64

0    10
2    30
3    40
dtype: int64

In [18]:
print(s.sum())  # Sum of all elements
print(s.mean())  # Mean of all elements
print(s.max())  # Maximum element
print(s.min())  # Minimum element
print(s.argmax())  # Index of the maximum element
print(s.argmin())  # Index of the minimum element

100
25.0
40
10
3
0

You can apply custom functions to each element of a Series using .apply()

In [22]:
def square(x):
  return x ** 2

# Apply the square function to each element in the Series
print(s.apply(square))

0     100
1     400
2     900
3    1600
dtype: int64

In [8]:
def my_func(x):
  return x > 10  # you don't need to loop
print(s.apply(my_func))


def my_second_fun(x):
  return "yes" if x > 10 else "no"
print(s.apply(my_second_fun))

0    False
1     True
2     True
3     True
dtype: bool
0     no
1    yes
2    yes
3    yes
dtype: object

In [9]:
s = pd.Series(["Abbas", "Ali", "Omar", "Ola"], index=['a', 'b', 'c', 'd'])
display(s)

# a, b, c, d are the indexes.
# 10, 20, 30, 40 are the values.

a    Abbas
b      Ali
c     Omar
d      Ola
dtype: object

In [10]:
display(s["c"].index)

display(s[[True, True, False, True]])

a    Abbas
b      Ali
d      Ola
dtype: object

### DataFrame

In [11]:
# pd.Series(list, index=list)

names = ["Ali", "Mostafa", "Hosam"]
Ages = [10, 20, 30]
degrees = [19, 20, 14]

data = {"Name": names, "Age": Ages, "Degree": degrees}
data_frame = pd.DataFrame(data)

# Same
data_frame = pd.DataFrame ({
    "Name" : ["Ali", "Mostafa", "Hosam"],
    "Age" : [10, 20, 30],
    "Degree" : [19, 20, 14]
})

# Same
data_frame = pd.DataFrame([names, Ages, degrees], columns= ["Name", "Age", "degree"])

data_frame

  Name      Age degree
0  Ali  Mostafa  Hosam
1   10       20     30
2   19       20     14

## Reading Data from External Files (CSV, Excel, SQL, etc.)

1. - CSV ---> df = pd.read_csv('filename.csv')
2. - Excel ---> df = pd.read_excel('filename.xlsx')
3. - multiple sheets from an Excel file
     * df1 = pd.read_excel(file_path, sheet_name='Sheet1')
     * df2 = pd.read_excel(file_path, sheet_name='Sheet2')

In [89]:
url = "https://raw.githubusercontent.com/FCAI-CU-AI-Community/Data/refs/heads/main/supermarket_sales.csv?token=GHSAT0AAAAAACXCBA27SPSO6AIBITEEKJKEZYX4AAA"
data=pd.read_csv(url)
data.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

## First look

In [90]:
data.head()  # Display the first few rows

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [91]:
data.shape   # (#rows, #columns)

(1000, 17)

In [92]:
data.index       # Show the index (row labels) of the DataFrame

RangeIndex(start=0, stop=1000, step=1)

In [93]:
data.columns     # List all column names in the DataFrame

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

In [94]:
data.dtypes      # Display the data types of each column in the DataFrame

Invoice ID                  object
Branch                      object
City                        object
Customer type               object
Gender                      object
Product line                object
Unit price                 float64
Quantity                     int64
Tax 5%                     float64
Total                      float64
Date                        object
Time                        object
Payment                     object
cogs                       float64
gross margin percentage    float64
gross income               float64
Rating                     float64
dtype: object

In [95]:
data.info()  # Show summary info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

In [96]:
data.describe()  # Generate descriptive statistics for numerical columns

,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1.000000e+03,1000.000000,1000.00000
mean,55.672130,5.510000,15.379369,322.966749,307.58738,4.761905e+00,15.379369,6.97270
std,26.494628,2.923431,11.708825,245.885335,234.17651,6.131498e-14,11.708825,1.71858
min,10.080000,1.000000,0.508500,10.678500,10.17000,4.761905e+00,0.508500,4.00000
25%,32.875000,3.000000,5.924875,124.422375,118.49750,4.761905e+00,5.924875,5.50000
50%,55.230000,5.000000,12.088000,253.848000,241.76000,4.761905e+00,12.088000,7.00000
75%,77.935000,8.000000,22.445250,471.350250,448.90500,4.761905e+00,22.445250,8.50000
max,99.960000,10.000000,49.650000,1042.650000,993.00000,4.761905e+00,49.650000,10.00000

In [97]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Unit price,1000.0,55.672130,2.649463e+01,10.080000,32.875000,55.230000,77.935000,99.960000
Quantity,1000.0,5.510000,2.923431e+00,1.000000,3.000000,5.000000,8.000000,10.000000
Tax 5%,1000.0,15.379369,1.170883e+01,0.508500,5.924875,12.088000,22.445250,49.650000
Total,1000.0,322.966749,2.458853e+02,10.678500,124.422375,253.848000,471.350250,1042.650000
cogs,1000.0,307.587380,2.341765e+02,10.170000,118.497500,241.760000,448.905000,993.000000
gross margin percentage,1000.0,4.761905,6.131498e-14,4.761905,4.761905,4.761905,4.761905,4.761905
gross income,1000.0,15.379369,1.170883e+01,0.508500,5.924875,12.088000,22.445250,49.650000
Rating,1000.0,6.972700,1.718580e+00,4.000000,5.500000,7.000000,8.500000,10.000000

## Renaming columns

In [98]:
data = data.rename(columns={'Invoice ID': 'ID', 'Customer type	': 'Customer_type'})
# creates a new DataFrame with the specified columns renamed.

# Same
data.rename(columns={'Invoice ID': 'ID', 'Customer type	': 'Customer_type'},inplace=True)
#  modifies the existing DataFrame data in place, meaning it will directly change the original DataFrame without creating a new one

In [99]:
data.head(2)

,ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6

## Data type conversions

In [100]:
data.dtypes

ID                          object
Branch                      object
City                        object
Customer type               object
Gender                      object
Product line                object
Unit price                 float64
Quantity                     int64
Tax 5%                     float64
Total                      float64
Date                        object
Time                        object
Payment                     object
cogs                       float64
gross margin percentage    float64
gross income               float64
Rating                     float64
dtype: object

In [101]:
data["Date"] = pd.to_datetime(data["Date"])
data["Time"] = pd.to_datetime(data["Time"])
data.dtypes

<ipython-input-101-aa0de49d1d53>:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data["Time"] = pd.to_datetime(data["Time"])

ID                                 object
Branch                             object
City                               object
Customer type                      object
Gender                             object
Product line                       object
Unit price                        float64
Quantity                            int64
Tax 5%                            float64
Total                             float64
Date                       datetime64[ns]
Time                       datetime64[ns]
Payment                            object
cogs                              float64
gross margin percentage           float64
gross income                      float64
Rating                            float64
dtype: object

In [102]:
# data["col_name"] = data["col_name"].astype(int)
# data["col_name"] = data["col_name"].astype(float)
# data["col_name"] = data["col_name"].astype(bool)
# data["col_name"] = data["col_name"].astype(object)
# data["col_name"] = pd.to_datetime(data["col_name"])

## delete rows & cols

In [103]:
data.head(2)

,ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,2019-01-05,2024-10-22 13:08:00,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,2019-03-08,2024-10-22 10:29:00,Cash,76.40,4.761905,3.8200,9.6

In [104]:
data.drop(columns="ID", axis=1, inplace=True)

In [105]:
data.drop(index=[0, 10, 2, 3], axis=0, inplace=True)

In [106]:
data.reset_index(drop=True, inplace=True)

In [107]:
# data.drop(columns=listofcolum_nsname, axis=1, inplace=True)
# data.drop(index=listofrows_index, axis=0, inplace=True)

# data.drop() :
# axis=0: Refers to rows.
# axis=1: Refers to columns

In [108]:
data.head(3)

,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,2019-03-08,2024-10-22 10:29:00,Cash,76.40,4.761905,3.8200,9.6
1,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2019-02-08,2024-10-22 10:37:00,Ewallet,604.17,4.761905,30.2085,5.3
2,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,29.8865,627.6165,2019-03-25,2024-10-22 18:30:00,Ewallet,597.73,4.761905,29.8865,4.1

## Nulls

In [109]:
data.isna().sum()

Branch                     0
City                       0
Customer type              0
Gender                     0
Product line               0
Unit price                 0
Quantity                   0
Tax 5%                     0
Total                      0
Date                       0
Time                       0
Payment                    0
cogs                       0
gross margin percentage    0
gross income               0
Rating                     0
dtype: int64

In [110]:
data.dropna(axis=0, inplace=True) # # remove rows with null values

In [111]:
# data.fillna("number or Value)
# data["col"] = data["col"].fillna(number or Value)
# data['col'] = data['col'].fillna(data['col'].mean() or .median() or .mode().[0])

## Data Selection(Selecting columns)

In [112]:
data["City"]

0      Naypyitaw
1         Yangon
2      Naypyitaw
3         Yangon
4      Naypyitaw
         ...
991    Naypyitaw
992     Mandalay
993       Yangon
994       Yangon
995       Yangon
Name: City, Length: 996, dtype: object

In [88]:
data[["Gender", "Unit price"]]

     Gender  Unit price
0    Female       15.28
1      Male       86.31
2      Male       85.39
3    Female       68.84
4    Female       73.56
..      ...         ...
991    Male       40.35
992  Female       97.38
993    Male       31.84
994    Male       65.82
995  Female       88.34

[996 rows x 2 columns]

## apply() for element-wise operations & add new columns

In [ ]:
data.head(2)

In [50]:
# apply():

# axis=0: Apply the function to each column (function receives a Series of each column).
# axis=1: Apply the function to each row (function receives a Series of each row).

In [51]:
def calc_total(row):
  return row["Quantity"] * row["Unit price"]

data['Calculated Total'] = data.apply(calc_total, axis=1)

In [52]:
def total_with_tax(row):
    return row['Total'] + row['Tax 5%']

data['Total with Tax'] = data.apply(total_with_tax, axis=1)

In [53]:
data.head(2)

,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,Calculated Total,Total with Tax
0,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,2019-03-08,2024-10-22 10:29:00,Cash,76.40,4.761905,3.8200,9.6,76.40,84.040
1,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2019-02-08,2024-10-22 10:37:00,Ewallet,604.17,4.761905,30.2085,5.3,604.17,664.587

In [54]:
data['Payment'] = data['Payment'].apply(str.upper)
data.head(2)

,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,Calculated Total,Total with Tax
0,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,2019-03-08,2024-10-22 10:29:00,CASH,76.40,4.761905,3.8200,9.6,76.40,84.040
1,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2019-02-08,2024-10-22 10:37:00,EWALLET,604.17,4.761905,30.2085,5.3,604.17,664.587

In [56]:
# Define a function to categorize customers
def customer_category(row):
    if row['Customer type'] == 'Member' and row['Gender'] == 'Female':
        return 'Female Member'
    elif row['Customer type'] == 'Normal':
        return 'Normal Customer'
    else:
        return 'Other'

data['Customer Category'] = data.apply(customer_category, axis=1)
data[['Customer type', 'Gender', 'Customer Category']].head(2)

  Customer type  Gender Customer Category
0        Normal  Female   Normal Customer
1        Normal    Male   Normal Customer

In [ ]:
data_tst = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})


row_sum = data_tst.apply(lambda row: row.sum(), axis=1)
row_sum



# def row_sum(row):
#   return row.sum()

row_sum = data_tst.apply(row_sum, axis=1)
row_sum

In [129]:
def column_sum(col):
  return col.sum()

col_sum = data_tst.apply(column_sum, axis=0)
col_sum


column_sum = data_tst.apply(lambda col: col.sum(), axis=0)
print(column_sum)

A           6
B          15
C          24
row_sum    45
dtype: int64

## Filtering rows

In [130]:
data["Gender"] == "Male"

0      False
1       True
2       True
3      False
4      False
       ...
991     True
992    False
993     True
994     True
995    False
Name: Gender, Length: 996, dtype: bool

In [131]:
data[data["Gender"] == "Male"]

,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
1,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2019-02-08,2024-10-22 10:37:00,Ewallet,604.17,4.761905,30.2085,5.3
2,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,29.8865,627.6165,2019-03-25,2024-10-22 18:30:00,Ewallet,597.73,4.761905,29.8865,4.1
7,B,Mandalay,Member,Male,Electronic accessories,25.51,4,5.1020,107.1420,2019-03-09,2024-10-22 17:03:00,Cash,102.04,4.761905,5.1020,6.8
9,A,Yangon,Normal,Male,Food and beverages,43.19,10,21.5950,453.4950,2019-02-07,2024-10-22 16:48:00,Ewallet,431.90,4.761905,21.5950,8.2
13,A,Yangon,Normal,Male,Sports and travel,72.61,6,21.7830,457.4430,2019-01-01,2024-10-22 10:39:00,Credit card,435.66,4.761905,21.7830,6.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
988,A,Yangon,Normal,Male,Electronic accessories,58.03,2,5.8030,121.8630,2019-03-10,2024-10-22 20:46:00,Ewallet,116.06,4.761905,5.8030,8.8
989,B,Mandalay,Normal,Male,Fashion accessories,17.49,10,8.7450,183.6450,2019-02-22,2024-10-22 18:35:00,Ewallet,174.90,4.761905,8.7450,6.6
991,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,2019-01-29,2024-10-22 13:46:00,Ewallet,40.35,4.761905,2.0175,6.2
993,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2019-02-09,2024-10-22 13:22:00,Cash,31.84,4.761905,1.5920,7.7
994,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2019-02-22,2024-10-22 15:33:00,Cash,65.82,4.761905,3.2910,4.1

In [132]:
data[data["Gender"] == "Male"]["Branch"]

1      A
2      C
7      B
9      A
13     A
      ..
988    A
989    B
991    C
993    A
994    A
Name: Branch, Length: 497, dtype: object

In [133]:
data[data["Gender"] == "Male"][["Branch", "City"]]

    Branch       City
1        A     Yangon
2        C  Naypyitaw
7        B   Mandalay
9        A     Yangon
13       A     Yangon
..     ...        ...
988      A     Yangon
989      B   Mandalay
991      C  Naypyitaw
993      A     Yangon
994      A     Yangon

[497 rows x 2 columns]

In [ ]:
data[(data["Gender"]=="Male") & (data["Quantity"]>9)]["Total"]

9       453.495
59      166.005
61      166.635
64      827.085
66      939.540
67      652.260
92      922.635
101     931.035
105     860.685
134     545.055
137     950.250
160     418.950
162    1003.590
163    1039.290
178     162.750
199     271.950
230     545.370
247     369.495
274     745.395
275     462.210
286     423.150
290     190.155
442     290.430
453     833.595
468     452.865
474     360.885
479     633.990
528     240.975
557     936.600
567     280.035
584     625.905
598     814.380
610     708.225
623     867.090
626     673.995
631     697.935
645     259.770
648     764.190
666     588.420
674     618.975
683     667.380
688     510.615
695    1023.750
723     732.270
731     860.475
733     616.980
742     684.915
754     197.925
757     757.365
824     681.975
834     586.635
878     335.895
885     807.660
902     888.405
984     864.570
989     183.645
Name: Total, dtype: float64

In [134]:
is_branch_A = data["Branch"] == "A"
is_Yangon_city = data["City"] == "Yangon"
data[is_branch_A & is_Yangon_city]["Gender"]

# Same
data[(data["Branch"] == "A") & (data["City"] == "Yangon")]["Gender"]

1        Male
3      Female
5      Female
8      Female
9        Male
        ...
986    Female
988      Male
993      Male
994      Male
995    Female
Name: Gender, Length: 337, dtype: object

In [ ]:
is_branch_A = data["Branch"] == "A"
is_branch_B = data["Branch"] == "B"
data[is_branch_A | is_branch_B]["Gender"]

# Same
data[data["Branch"].isin(["A", "B"])]["Gender"]

1        Male
3      Female
5      Female
6      Female
7        Male
        ...
989      Male
992    Female
993      Male
994      Male
995    Female
Name: Gender, Length: 668, dtype: object

## sorting rows

In [135]:
data.sort_values(by="Total", ascending=False).head(3)

,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
346,C,Naypyitaw,Member,Female,Fashion accessories,99.30,10,49.65,1042.65,2019-02-15,2024-10-22 14:53:00,Credit card,993.0,4.761905,49.65,6.6
163,A,Yangon,Normal,Male,Fashion accessories,98.98,10,49.49,1039.29,2019-02-08,2024-10-22 16:20:00,Credit card,989.8,4.761905,49.49,8.7
553,C,Naypyitaw,Member,Female,Food and beverages,98.52,10,49.26,1034.46,2019-01-30,2024-10-22 20:23:00,Ewallet,985.2,4.761905,49.26,4.5

In [136]:
data.sort_values(by=["Total", "Rating"], ascending=[True, False]).head(3)

,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
818,C,Naypyitaw,Member,Male,Sports and travel,10.17,1,0.5085,10.6785,2019-02-07,2024-10-22 14:15:00,Cash,10.17,4.761905,0.5085,5.9
625,A,Yangon,Normal,Female,Fashion accessories,12.09,1,0.6045,12.6945,2019-01-26,2024-10-22 18:19:00,Credit card,12.09,4.761905,0.6045,8.2
219,C,Naypyitaw,Member,Female,Fashion accessories,12.54,1,0.6270,13.1670,2019-02-21,2024-10-22 12:38:00,Cash,12.54,4.761905,0.6270,8.2

In [137]:
data.sort_values(by="Rating", ascending=False)[["Branch","Rating", "City"]].head(5)

    Branch  Rating       City
58       B    10.0   Mandalay
56       C    10.0  Naypyitaw
155      B    10.0   Mandalay
383      A    10.0     Yangon
849      B    10.0   Mandalay

## Counting

In [138]:
data.duplicated().sum()

0

In [139]:
data.drop_duplicates(inplace=True)
data.reset_index(drop=True)

,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,2019-03-08,2024-10-22 10:29:00,Cash,76.40,4.761905,3.8200,9.6
1,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2019-02-08,2024-10-22 10:37:00,Ewallet,604.17,4.761905,30.2085,5.3
2,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,29.8865,627.6165,2019-03-25,2024-10-22 18:30:00,Ewallet,597.73,4.761905,29.8865,4.1
3,A,Yangon,Member,Female,Electronic accessories,68.84,6,20.6520,433.6920,2019-02-25,2024-10-22 14:36:00,Ewallet,413.04,4.761905,20.6520,5.8
4,C,Naypyitaw,Normal,Female,Home and lifestyle,73.56,10,36.7800,772.3800,2019-02-24,2024-10-22 11:38:00,Ewallet,735.60,4.761905,36.7800,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
991,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,2019-01-29,2024-10-22 13:46:00,Ewallet,40.35,4.761905,2.0175,6.2
992,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,2019-03-02,2024-10-22 17:16:00,Ewallet,973.80,4.761905,48.6900,4.4
993,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2019-02-09,2024-10-22 13:22:00,Cash,31.84,4.761905,1.5920,7.7
994,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2019-02-22,2024-10-22 15:33:00,Cash,65.82,4.761905,3.2910,4.1
995,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2019-02-18,2024-10-22 13:28:00,Cash,618.38,4.761905,30.9190,6.6

In [140]:
data.head(2)

,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,2019-03-08,2024-10-22 10:29:00,Cash,76.40,4.761905,3.8200,9.6
1,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2019-02-08,2024-10-22 10:37:00,Ewallet,604.17,4.761905,30.2085,5.3

In [141]:
data["City"].unique()

array(['Naypyitaw', 'Yangon', 'Mandalay'], dtype=object)

In [142]:
data["City"].nunique()

3

In [143]:
data["City"].value_counts()

City
Yangon       337
Mandalay     331
Naypyitaw    328
Name: count, dtype: int64

In [144]:
branch_types = data["Branch"].value_counts(sort=True)
branch_types

Branch
A    337
B    331
C    328
Name: count, dtype: int64

In [150]:
branch_types.index, branch_types.values

(Index(['A', 'B', 'C'], dtype='object', name='Branch'), array([337, 331, 328]))

In [145]:
most_freq_branch = branch_types.idxmax()
most_freq_branch

'A'

In [148]:
count_most_freq_branch = branch_types.max()
count_most_freq_branch

337

## Groupby

In [151]:
data.head(2)

,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,2019-03-08,2024-10-22 10:29:00,Cash,76.40,4.761905,3.8200,9.6
1,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2019-02-08,2024-10-22 10:37:00,Ewallet,604.17,4.761905,30.2085,5.3

for each branch what is the sum of total ?

In [160]:
print(data[data["Branch"]=="A"]["Total"].sum())
print(data[data["Branch"]=="B"]["Total"].sum())
print(data[data["Branch"]=="C"]["Total"].sum())

104821.8255
106136.856
110568.7065

In [155]:
branch_total = data.groupby("Branch")["Total"].sum()
branch_total

Branch
A    104821.8255
B    106136.8560
C    110568.7065
Name: Total, dtype: float64

In [158]:
branch_total_propn = branch_total / data["Total"].sum()
branch_total_propn*100

Branch
A    32.601212
B    33.010207
C    34.388581
Name: Total, dtype: float64

In [161]:
data.head(1)

,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.82,80.22,2019-03-08,2024-10-22 10:29:00,Cash,76.4,4.761905,3.82,9.6

In [164]:
data.groupby("Gender")["Total"].sum()

Gender
Female    167273.1375
Male      154254.2505
Name: Total, dtype: float64

In [167]:
data.groupby("Gender")["Total"].agg([sum, min, max])

<ipython-input-167-0bcb55509470>:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  data.groupby("Gender")["Total"].agg([sum, min, max])
<ipython-input-167-0bcb55509470>:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  data.groupby("Gender")["Total"].agg([sum, min, max])
<ipython-input-167-0bcb55509470>:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  data.groupby("Gender")["Total"].agg([sum, min, max])

                sum      min      max
Gender
Female  167273.1375  12.6945  1042.65
Male    154254.2505  10.6785  1039.29

In [169]:
data.groupby(["Gender", "Branch"])[["Total", "Quantity"]].sum()

                    Total  Quantity
Gender Branch
Female A       52720.1955       902
       B       52867.4790       907
       C       61685.4630      1049
Male   A       52101.6300       935
       B       53269.3770       909
       C       48883.2435       782

In [ ]:
data.groupby(["Gender", "Branch"])["Total"].sum()