<a href="https://colab.research.google.com/github/FCAI-CU-AI-Community/Python/blob/main/Session_1_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Session-1: Python Foundations

**`FCAI-CU-Community:`**
- [Discord](https://discord.gg/UGpXXsQ2qw)
- [GitHub](https://github.com/FCAI-CU-AI-Community)
- [YouTube](https://youtube.com/@fcai-cu-ai-community?si=qaeEzzDrOnrZpeph)

# Outline:
- [Print](#print)
- [Commenting](#com)
- [Variables](#var)
- [Booleans and Conditionals](#if)
- [Operators](#opr)
- [string](#str)
- [List](#lst)
- [loops](#loop)
- [Tuples](#Tuple)
- [sets](#set)
- [Dictionaries](#Dict)
- [Functions](#Functions)
- [Exception Handling](#eh)
- [Docstrings](#ds)
- [External Libraries](#exlib)
- [Tasks](#tasks)

## <a name="print">Print<a>

In [ ]:
print("Hello, world!")
print(42)
print(True)
print("The answer is", 42)
print("a","b","c","d")
print(10+15)
print("my" + " name")

name = "adham"
print(f"My name is {name}")  # Formatted string

Hello, world!
42
True
The answer is 42
a b c d
25
my name
My name is adham

In [ ]:
print(5+3)
print(5-3)
print(5*3)
print(5/3)
print(5//3)
print(5%3)
print(5**3)

8
2
15
1.6666666666666667
1
2
125

## <a name="com">Commenting<a>

In [ ]:
# This is one line comment

'''This
is
multi
    line
        comment'''

"""
This is also called
docstring
"""

'\nThis is also called\ndocstring\n'

## <a name="var">Variables<a>

**Variable Naming Rules**<br>

-----

When naming variables, follow these rules:<br>

- Names can contain letters (a-z, A-Z), digits (0-9), and underscores (_).<br>
- Names cannot start with a digit.<br>
- Names are case-sensitive (e.g., name and Name are different).<br>
- Avoid using Python's reserved keywords (if, for, while, not, in, etc.)<br>


--------------
**Dynamic Typing:**

You donâ€™t need to declare the data type of a variable. The type is determined at runtime based on the value assigned.

In [ ]:
# variable_name = value


first_name = "John"        # A string
age = 30                   # An integer
user1_score = 95.5         # A float
is_active = True           # A boolean

"""Activity:
    Which name is valid and which is not?
        - adham
        - 3llam
        - if
"""

# data types ----> # int ,float, bool, string, list, tuple, set, dic, range, NoneType, complex

print(type(first_name))
print(type(age))
print(type(user1_score))
print(type(is_active))
print()
print(isinstance(age, float))
print(isinstance(first_name, str))
print(isinstance(is_active, bool))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

False
True
True

**type casting**

In [ ]:
# Converting to an integer
num_float = 10.75
display(int(num_float))   # Result: 10
num_str = "123"
display(int(num_str))      # Result: 123
name = "John"
# num_int = int(name)    # Raises ValueError


# Converting to an float
num_str = "123" # num_str = 123
display(float(num_str))      # Result: 123


# Converting to a string
num_int = 123
display(str(num_int))      # Result: "123"
num_float = 10.75
display(str(num_float))    # Result: "10.75"


# Converting to Boolean (bool)
display(bool(0) == bool(0.0) == bool(None) == bool("") == bool([]) == False)
display(bool(5) == bool(3.5) == bool(not None) == bool("hi") == bool([1, 2, 3]) == True)


# Convert to the higher type in terms of size
x = 10        # integer
y = 5.5       # float
result = x + y
display(result, type(result))

"""Activity:
    Predict the result:
        1. True, bool
        2. 5, int
        3. True, int
"""
x = True
y = 4
result = x + y
display(result, type(result))

10

123

123.0

'123'

'10.75'

True

True

15.5

float

5

int

## <a name="if">Booleans and Conditionals<a>



    if condition:
           # code to execute if condition is true


******           

    if condition:
           # code to execute if condition is true
    else:
           # code to execute if condition is false  

******

      if condition1:
          # code for condition1
      elif condition2:
          # code for condition2
      else:
          # code if both conditions are false

In [ ]:
age = 18
if age >= 18:
    print("You are an adult.")


age = 16
if age >= 18:
    print("You are an adult.")
else:
    print("You are not an adult yet.")

age = 25
if age < 13:
    print("You are a child.")
elif age < 18:
    print("You are a teenager.")
else:
    print("You are an adult.")

# Nested If Statements
age = 22
if age >= 18:
    print("You are an adult.")
    if age >= 21:
        print("You inside nested.")
else:
    print("You are not an adult yet.")

You are an adult.
You are not an adult yet.
You are an adult.
You are an adult.
You inside nested.

In [ ]:
a=10
b=50
print("A") if a>b else print("B")

a=10
b=10
print("A") if a > b else print("=") if a == b else print("B")

# print("A" if a > b else "=" if a == b else "B") # the same

"""Activity:
    What will be printed if a = 11?
    What will be printed if a = 9?
"""

if a==10:
  pass
else :
  print("a not equal 10")

B
=

## <a name="opr">Operators<a>

- Arithmetic Operators (+, -, *, /, //, **, % )
-  Assignment Operators (=, +=, *=, ....)
-  Comparison Operators (==, !=, >, <, >=, <= )
- Logical Operators (and, or, not)
- Identity Operators (is, is not)
- Membership Operators (in, not in)

In [ ]:
x = 3
x += 1
print(x)  # 4
print(3==7) # False
print(3>=2) # True
print()

print(3>4 and 0<5) # False
print(3>4 or 0<5) # True
print()

x = 3
y = 4
print(x is y) #  False
print(x is not y) #True
print()

degrees = [1,2,3,4]
x=1
print(x in degrees) #True
print(x not in degrees) # False

4
False
True

False
True

False
True

True
False

In [ ]:
degrees = [1,2,3,4]
x=1

if (x in degrees):
  print(f"{x} is in {degrees}")
else:
  print(f"{x} is not in {degrees}")

1 is in [1, 2, 3, 4]

## <a name="str">string<a>



**Escape Sequences:**
- \n: Newline
- \t: Tab
- \\: Backslash
- \': Single quote
- \": Double quote

In [ ]:
a = "Hello"

# Multiline Strings
multi_line_str = """
This is a multi-line string
It can span multiple lines.
You can include any text here."""
print(multi_line_str)

This is a multi-line string
It can span multiple lines.
You can include any text here.

In [ ]:
single_quote_str = 'Hello, World!'
double_quote_str = "Hello, World!"
multi_line_str = """This is a string
that spans multiple lines."""

my_string = " Hello, 'World!' "  # # Hello, 'World!'


my_string = ' Hello, \'World!\' '
my_string = " Hello, \"World!\" "
my_string = " Hello, \World\ "  # Hello, \World\
print(my_string)
print()

raw_text = r"Hello,\nWorld!"  # \n will be treated as two characters, not a newline
print(raw_text) # Hello,\nWorld!

 Hello, \World\

Hello,\nWorld!

In [ ]:

path = "c:\windows\newFolder" # c:\windows
print(path)
path = "c:\windows\\newFolder" # c:\windows
print(path)
path = r"c:\windows\newFolder" # c:\windows
print(path)

c:\windows
ewFolder
c:\windows\newFolder
c:\windows\newFolder

**String slicing**
substring = string[start:end:step]
- start: The index where the slice starts (inclusive).
- end: The index where the slice ends (exclusive).
- step: The interval between each index in the slice (optional).

In [ ]:
s = "Hello, World!"
print(s[0])  # H
print(s[8])  # o
print(s[-1]) # !
print(s[-4]) # r
print(s[9])  # r

print(s[:])     # Hello, World!
print(s[: :1])  # Hello, World!
print(s[::2])  # Hello, World!
print(s[: :-1]) # !dlroW ,olleH

H
o
!
r
r
Hello, World!
Hello, World!
Hlo ol!
!dlroW ,olleH

In [ ]:
# Hello, World!
print(s[0:4])
print(s[ :4])
print()

print(s[7:13]) # World!
print(s[7: ]) # World!

print(s[:-5])
print(s[-3:])



# print(s[15]) error (string index out of range)
print(s[7:10])
print(s[-5:-2])
print(s[3:10:2])

Hell
Hell

World!
World!
Hello, W
ld!
Wor
orl
l,Wr

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(c,"\n") # HelloWorld

c = a + " " + b
print(c,"\n") # Hello World


age = 30
name = "mohammad"
# txt = "My name is John, I am " + age # error we cannot combine strings and numbers
txt = f"My name is mohammad, I am {age}"
print(txt)

print(f"My name is {name}, I am {age}.")

HelloWorld

Hello World

My name is mohammad, I am 30
My name is mohammad, I am 30.

In [ ]:
# .capitalize()	Converts the first character to upper case
# .lower()	Converts a string into lower case
# .upper()	Converts a string into upper case
# .islower()	Returns True if all characters in the string are lower case
# .isupper()	Returns True if all characters in the string are upper case
# .startswith()	Returns true if the string starts with the specified value
# .endswith("str")	Returns true if the string ends with the specified value
# .find("str")	Searches the (first)string for a specified value and returns the position of where it was found ,not found (-1)
# .index()	    Searches the (first)string for a specified value and returns the position of where it was found  ,not found (error)
# .count("str")	Returns the number of times a specified value occurs in a string


s = "hello, world!"

s.capitalize() #  Hello, world!
s.lower()   #  hello, world!
s.upper()   # HELLO, WORLD!
s.islower() # True
s.isupper() # False
s.startswith("helfhjdbvhd") # False
s.endswith("!") # True
s.find("Hello") # -1
# s.index("Hello") # error
s.find("hello") # 0
s.index("hello") # 0
s.find("l") # 2
s.index("l") # 2
s.count("l") # 3


try:
  index = s.index("Hello") # # will raise an error
  print(index)
except ValueError as e :
  print("not found........." , f"eror: {e}")



# split()	Splits the string at the specified separator, and returns a list ['before sep'  ,  'after sep']
# a.split("sep")
# split a string into three parts based on a specified separator.returns a tuple containing three elements:
# (before the sep , sep , after the sep)
# a.partition("llo") # ('He' , 'llo' , ', World!')
# strip()	Returns the string after remove white spaces from left and right
# a.replace("H", "J") # replaces a string with another string any H will concert to J
a = "Hello, World!"
a.split()  # ['Hello,', 'World!']
a.split("W") # ['Hello, ', 'orld!']
a.split(",") # ['Hello', ' World!']

a.partition("W") # ('Hello, ', 'W', 'orld!')
a.partition("llo") # ('  Hel', 'llo', ', World!  ')
sorted(a) # [' ', '!', ',', 'H', 'W', 'd', 'e', 'l', 'l', 'l', 'o', 'o', 'r']
b = list(a) # ['H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!']
c = set (a) # {'H', 'e', 'l', 'o', ',', ' ', 'W', 'r', 'd', '!'} remove duplicate characters. (unique elements and do not care about the order)

not found......... eror: substring not found

## <a name="lst">List<a>

In [ ]:
lst = [1 ,2.3, "Ahmad", True, None, [1,2,3]]
lst

[1, 2.3, 'Ahmad', True, None, [1, 2, 3]]

In [ ]:
name = "mohammad"
lst = list(name) # ['m', 'o', 'h', 'a', 'm', 'm', 'a', 'd']

numbers = [1,2,3]
display(numbers*3)          #  [1, 2, 3, 1, 2, 3, 1, 2, 3]

display(len(numbers)) # 3
display(sum(numbers)) # 6

[1, 2, 3, 1, 2, 3, 1, 2, 3]

3

6

In [ ]:
lst=["a","b","c","d","e","f"]
display(lst[0])
display(lst[3])
display(lst[-1])
display(lst[:1])  # return list
display(lst[1:4])
display(lst[4:])
display(lst[1:5:2] )
display(lst[::2])
display(lst[::-1])

'a'

'd'

'f'

['a']

['b', 'c', 'd']

['e', 'f']

['b', 'd']

['a', 'c', 'e']

['f', 'e', 'd', 'c', 'b', 'a']

In [ ]:
lst[0]=" z"
display(lst) # [' z', 'b', 'c', 'd', 'e', 'f']

lst[0]=["d","g"]
display(lst)  # [['d', 'g'], 'b', 'c', 'd', 'e', 'f']

lst[:5] = ["x", "y"]
display(lst) # ['x', 'y', 'f']

[' z', 'b', 'c', 'd', 'e', 'f']

[['d', 'g'], 'b', 'c', 'd', 'e', 'f']

['x', 'y', 'f']

In [ ]:
lst=["a","b","c","d","e","f"]

lst.insert(2,"mohammad")
display(lst) # ['a', 'b', 'mohammad', 'c', 'd', 'e', 'f']

lst.append("g")
display(lst) # ['a', 'b', 'c', 'd', 'e', 'f', 'g']
lst2 = ["1","2","3"]
lst.append(lst2)
display(lst)   # ['a', 'b', 'mohammad', 'c', 'd', 'e', 'f', 'g', ['1', '2', '3']]


lst=["a","b","c","d","e","f"]

lst2 = ["1","2","3"]
lst.extend(lst2)   # concat
display(lst) # ['a', 'b', 'c', 'd', 'e', 'f', '1', '2', '3']


lst.remove("1")
display(lst) # ['a', 'b', 'c', 'd', 'e', 'f', '2', '3']

lst.pop()
display(lst) # ['a', 'b', 'c', 'd', 'e', 'f', '2']
lst.pop(0)  # del lst[0]
display(lst) # ['b', 'c', 'd', 'e', 'f', '2']

lst.clear()
display(lst)

del lst
# display(lst)    # lst

['a', 'b', 'mohammad', 'c', 'd', 'e', 'f']

['a', 'b', 'mohammad', 'c', 'd', 'e', 'f', 'g']

['a', 'b', 'mohammad', 'c', 'd', 'e', 'f', 'g', ['1', '2', '3']]

['a', 'b', 'c', 'd', 'e', 'f', '1', '2', '3']

['a', 'b', 'c', 'd', 'e', 'f', '2', '3']

['a', 'b', 'c', 'd', 'e', 'f', '2']

['b', 'c', 'd', 'e', 'f', '2']

[]

## <a name="loop">loop<a>

In [ ]:
for i in range(10):
  print(i)

num = 0
while num < 10:
  print(num)
  num += 1

for i in range(2, 9):
  print(i)

0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
2
3
4
5
6
7
8

In [ ]:
display(range(10))  # range(0, 10)  from 0 to 9
display(range(2,9))  # range(2, 9)  from 2 to 8
display(range(2,9,2))  # range(2, 9, 2)  2 4 6 8 from 2 to 8 step 2

range(0, 10)

range(2, 9)

range(2, 9, 2)

In [ ]:
for x in range (6):
  if x==3:
    continue
  else :
    print(x)

0
1
2
4
5

In [ ]:
lst = [1,2,3,4,5]
for x in lst:
  print(x)
print("\n\n")

for i in range(len(lst)): # range(5) 0 1 2 3 4
  print(lst[i])

1
2
3
4
5

5

## <a name="Tuple">Tuples<a>

- ordered<br>
- unchangeable(cannot change, add or remove items after the tuple has been created) <br>
- allow duplicate values<br>
- indexed<br>

In [ ]:
t = (1,2,"mohammad", False,1)
display(t)
display(t[0])
display(t[:4])
display(t[1:4:2])
display(t[::-1])
print()


display(t.count(1))
display(t.index("mohammad"))

(1, 2, 'mohammad', False, 1)

1

(1, 2, 'mohammad', False)

(2, False)

(1, False, 'mohammad', 2, 1)

2

2

In [ ]:
if "mohammad " in t:
  print("I am in")
else:
  print("I am not in")

I am not in

In [ ]:
for i in t :
  display(i)
#------------------
print( )
#------------------
for i in range(len(t)):
  display(t[i])
#------------------
print( )
i=0
while (i<len(t)):
  display(t[i])
  i+=1

1

2

'mohammad'

False

1

1

2

'mohammad'

False

1

1

2

'mohammad'

False

1

In [ ]:
#  unchangeable(cannot change, add or remove items after the tuple has been created.) !!!!!!!!!!!!!!!!!!!!!!!

t = (1,2,3,4,5,6)
# convert the tuple into a list, change the list, and convert the list back into a tuple
l = list(t)
display(type(l))
l[1] = "Allam"
l.append(7)
t = tuple(l)
display(t)

list

(1, 'Allam', 3, 4, 5, 6, 7)

In [ ]:
t1 = (1,2)
t2 = (3,4)
t3 = t1 + t2
display(t3)
display(t3 * 2)

(1, 2, 3, 4)

(1, 2, 3, 4, 1, 2, 3, 4)

In [ ]:
t1 = (1,2)
t2 = (3,4)

t1,t2 = t2,t1
display(t1)
display(t2)


print()
tmp = t1
t2 = tmp
t1 = t2
display(t1)
display(t2)

(3, 4)

(1, 2)

(3, 4)

(3, 4)

(3, 4)

(3, 4)

## <a name="set">sets<a>

- unordered
- unchangeable
- unindexed
- noDuplicates
Set items are unchangeable, but you can remove items and add new items.<br>
sets are unordered, so you cannot be sure in which order the items will appear.<br>
The values True and 1 are considered the same value in sets, and are treated as duplicates.<br>

In [ ]:
s = {10,2,1,3,"mohammad","mohammad",True,1}
display(s)

# display(s[0]) # 'set' object is not subscriptable
# s[0] = "mohammad" # 'set' object does not support item assignment

#----------------------------------
s.add("3lllam")
#----------------------------------
# s.remove("banana")
# If the item to remove does not exist, remove() will raise an error.
if ("banana") in s:
  s.remove("banana")

s.discard("banana")
# If the item to remove does not exist, discard() will NOT raise an error.
#----------------------------------
if "ali" not in s:
  print("I am not in")
else:
  print("I am in")
#----------------------------------
#----------------------------------
for i in s:
  display(i)

# for i in range(len(s)):
#   display(s[i])

# i=0
# while(i < len(s)):
#   display(s[i])
#   i+=1


s.clear()
display(s)

del s
# display(s) # 'set' object is not defined

{1, 10, 2, 3, 'mohammad'}

I am not in

'mohammad'

1

2

3

'3lllam'

10

set()

In [ ]:
s1 = {1,2}
s2= {3,4}
s1.update(s2)
display(s1,s2)

{1, 2, 3, 4}

{3, 4}

## <a name="Dict">Dictionaries<a>

- ordered
- changeable
- do not allow duplicates (keys).

In [ ]:
dic = {
    "name" : "Ali",
    "age" : 22,
    "city" : "cairo",
    "isMarried" : False,
    "skills" : ["html","css","js"]

}

display(dic["name"])  # display(dic.get("name"))  the same
display(dic["skills"])
display(dic["skills"][1])

'Ali'

['html', 'css', 'js']

'css'

In [ ]:
keys = dic.keys()  # return a list  any changes done to the dictionary will be reflected in the keys list
display(keys)

values = dic.values()
display(values)

dict_keys(['name', 'age', 'city', 'isMarried', 'skills'])

dict_values(['Ali', 22, 'cairo', False, ['html', 'css', 'js']])

In [ ]:
dic["id"] = "22222"
display(keys)
display(values)
print()

items = dic.items()
display(items)

dict_keys(['name', 'age', 'city', 'isMarried', 'skills', 'id'])

dict_values(['Ali', 22, 'cairo', False, ['html', 'css', 'js'], '22222'])

dict_items([('name', 'Ali'), ('age', 22), ('city', 'cairo'), ('isMarried', False), ('skills', ['html', 'css', 'js']), ('id', '22222')])

In [ ]:
dic["name"] = "allam"         # if exist update else added
dic.update({"name":"allam"})  #  # if exist update else added

dic.pop("age")  # remove key if not exis error
# del dic["rrr"]   # remove key if not exis error
dic.popitem() # remove the last inserted item




display(dic.get("jvhrfbyh",-11))
dic

{'name': 'allam',
 'city': 'cairo',
 'isMarried': False,
 'skills': ['html', 'css', 'js']}

In [ ]:
for i in dic:
  display(i)   # keys
for i in dic.keys():
  display(i)   # keys


print()
for i in dic.values():
  print(i)   # values


print()
for i in dic.items():
  print(i)   # (key,value)
  # print(i[0]) # key
  # print(i[1]) # value

for k,v in dic.items():
  print(k,v)

'name'

'city'

'isMarried'

'skills'

'name'

'city'

'isMarried'

'skills'

allam
cairo
False
['html', 'css', 'js']

('name', 'allam')
('city', 'cairo')
('isMarried', False)
('skills', ['html', 'css', 'js'])

In [ ]:
d1 = dic

d1["phone"] = 11111111
display(dic)
display(d1)

{'name': 'allam',
 'city': 'cairo',
 'isMarried': False,
 'skills': ['html', 'css', 'js'],
 'phone': 11111111}

{'name': 'allam',
 'city': 'cairo',
 'isMarried': False,
 'skills': ['html', 'css', 'js'],
 'phone': 11111111}

In [ ]:
d1 = dic.copy()
# d1 = dict(dic)  the same
d1["children"] = ["a","b"]
display(dic)
display(d1)

{'name': 'allam',
 'city': 'cairo',
 'isMarried': False,
 'skills': ['html', 'css', 'js'],
 'phone': 11111111}

{'name': 'allam',
 'city': 'cairo',
 'isMarried': False,
 'skills': ['html', 'css', 'js'],
 'phone': 11111111,
 'children': ['a', 'b']}

## <a name="fun">Functions<a>

In [ ]:
def greet(name):
    print(f"Hi, {name}")

greet("adham")

Hi, adham

In [ ]:
def divide(x, y):
    result = x / y
    return result

divide(4,2)
# divide(3/0) # Error

2.0

## <a name="eh">Exception Handling<a>

In [ ]:
def divide(x, y):
    try:
        result = x / y
    except ZeroDivisionError:
        print("division by zero!")
    else:
        print("result is", result)
    finally:
        print("executing finally clause")


divide(1,2)

division by zero!
executing finally clause

## <a name="ds">Docstring<a>

In [ ]:
# Google Style
def cars(self, distance,destination):
    '''We can't travel distance in vehicles without fuels, so here is the fuels

    Args:
        distance (int): The amount of distance traveled
        destination (bool): Should the fuels refilled to cover the distance?

    Raises:
        RuntimeError: Out of fuel

    Returns:
        cars: A car mileage
    '''
    pass

## <a name="exlib">External Libraries<a>

In [ ]:
import math

display(math.sqrt(4))

display(math.e)

display(math.pow(math.pi, math.e))

2.0

2.718281828459045

22.45915771836104

In [ ]:
import cowsay

cowsay.cow("Moo Moo")

  _______
| Moo Moo |
  =======
       \
        \
          ^__^
          (oo)\_______
          (__)\       )\/\
              ||----w |
              ||     ||

In [ ]:
import cowsay as cs

cs.tux("Hi friend, I'm linux")

  ____________________
| Hi friend, I'm linux |
  ====================
                         \
                          \
                           \
                            .--.
                           |o_o |
                           |:_/ |
                          //   \ \
                         (|     | )
                        /'\_   _/`\
                        \___)=(___/

In [ ]:
from cowsay import fox

fox("I'm the clever one")

  __________________
| I'm the clever one |
  ==================
                   \
                    \
                     \
                      |\_/|,,_____,~~`
                      (.".)~~     )`~}}
                       \o/\ /---~\\ ~}}
                         _//    _// ~}

In [ ]:
from cowsay import fox as my_fox

my_fox("I'm the clever one")

  __________________
| I'm the clever one |
  ==================
                   \
                    \
                     \
                      |\_/|,,_____,~~`
                      (.".)~~     )`~}}
                       \o/\ /---~\\ ~}}
                         _//    _// ~}

## <a name="tasks">Tasks<a>

### Task 1:
- [Intro to programming](https://www.kaggle.com/learn/intro-to-programming)

Complete this course along with the exercises and submit your certificate in `task-submission` channel on discord

### Task 2:
- [Python](https://www.kaggle.com/learn/python)

Complete this course along with the exercises and submit your certificate in `task-submission` channel on discord